body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #2F2F2F;
    border-radius: 5px;
}
